name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # 1. Loyiha papkasiga kirish
            cd ~/mebellar-backend

            # 2. Xavfsizlik: Serverdagi har qanday "chala" o'zgarishni tozalash
            # (Bu git conflict muammosini oldini oladi)
            git reset --hard origin/main

            # 3. Eng yangi kodni olish
            git pull origin main

            # 4. Kodingiz ishlashi uchun kerakli kutubxonalarni aniqlash
            /usr/local/go/bin/go mod tidy

            # 5. Dasturni qurish (Build)
            /usr/local/go/bin/go build -o server_app .

            # 6. Servisni yangilash
            systemctl restart mebellar

            # 7. Statusni tekshirish
            systemctl status mebellar --no-pager
